.gcs-btn {
  animation: gradient 2s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  &[disabled] {
    opacity: 0.5;
  }
  .text-wrapper {
    height: 17px;
    transform: translateY(-1px);
    overflow: hidden;
    span {
      display: block;
      transform: translateY(-100%);
      transition: transform 0.3s;
      white-space: nowrap;
    }
  }
  &:hover {
    transition: all 0.3s;
    .text-wrapper {
      span {
        transform: translateY(0%);
        transition: transform 0.3s;
      }
    }
  }
}
